* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 14vh;
  background-color: black ;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  color: white;
  text-transform: uppercase;
  font-size: 20;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: grey;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 25px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div{
  width: 28px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.5s ease;
}

@media screen and (max-width:1024px){
  .nav-links{
    width: 60%;
  }
}

@media screen and (max-width:768px){
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in
  }
  .nav-links li {
    opacity: 0;
  }

  .burger{
    display: block;
  }

}

.nav-active {
  transform: translatex(0%);
}

@keyframes navLinkFade {
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);

}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li :hover {
  color: white;
}

.responsive {
  width: 100%;
  height: auto;
 }
 



 
 .carousel {
  margin-left: 0%;
  margin-right: 0%;
 }
  
 ul.slides {
  display: block;
  position: relative;
  height: 800px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
 }
  
 .slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
 }
  
 ul.slides input {
  display: none;
 }
  
  
 .slide-container {
  display: block;
 }
  
 .slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
 }  
  
 .slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%;
 }
  
 .carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff;
 }
  
 .carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
 }
  
 .slide-image:hover + .carousel-controls label{
  opacity: 0.5;
 }
  
 .carousel-controls label:hover {
  opacity: 1;
 }
  
 .carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
 }
  
 .carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
 }
  
 .carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
 }
  
 .carousel-dots .carousel-dot {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
 }
  
 input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
 }
  
 input:checked + .slide-container .carousel-controls label {
   display: block;
 }
  
 input#img-1:checked ~ .carousel-dots label#img-dot-1,
 input#img-2:checked ~ .carousel-dots label#img-dot-2,
 input#img-3:checked ~ .carousel-dots label#img-dot-3,
 input#img-4:checked ~ .carousel-dots label#img-dot-4,
 input#img-5:checked ~ .carousel-dots label#img-dot-5,
 input#img-6:checked ~ .carousel-dots label#img-dot-6 {
 opacity: 1;
 }
  
  
 input:checked + .slide-container .nav label { display: block; }
 

 .container0 {
  display: flex;
  align-items: center;
  justify-content: center
}

.container {
  display: flex;
  align-items: center;
  justify-content: center
}
.course {
  max-width: 600px
}
.image {
  flex-basis: 40%
}
.header {
  font-size: 100px;
  padding-left: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;

}

.Our-work {
  text-decoration: none;
  color: white;
}

